@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Craketest Light';
  src: url('./Assets/craketest-light.otf') format('opentype');
}

@font-face {
  font-family: 'Craketest Medium';
  src: url('./Assets/craketest-medium.otf') format('opentype');
}

@font-face {
  font-family: 'Craketest Regular';
  src: url('./Assets/craketest-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Craketest Semibold';
  src: url('./Assets/craketest-semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Craketest Bold';
  src: url('./Assets/craketest-bold.otf') format('opentype');
}

@font-face {
  font-family: 'GlacialIndifference Bold';
  src: url('./Assets/GlacialIndifference-Bold.otf') format('opentype');
}


@font-face {
  font-family: 'GlacialIndifference Italic';
  src: url('./Assets/GlacialIndifference-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'GlacialIndifference Regular';
  src: url('./Assets/GlacialIndifference-Regular.otf') format('opentype');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
